<footer>
	<div class="inner">
		<div class="social-links">
			<a href="https://www.facebook.com/constructivethinking" target="_blank" class="facebook">
			</a>
			<a href="https://www.instagram.com/ctslarchitect/" target="_blank" class="instagram">
			</a>
			<a href="https://www.linkedin.com/company/constructive-thinking-studio-limited/" target="_blank" class="linkedin">
			</a>
			<a href="https://twitter.com/CTSLarchitects" target="_blank" class="twitter">
			</a>
		</div>
		<p class="constructive-thinking-footer">&copy; Constructive Thinking {{ 'now' | date('Y') }}</p>
		<nav class="footer-nav">
			{{ drupal_menu('footer') }}
		</nav>
	</div>
</footer>